@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Inter', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.for-nav {
    padding: 10px;
    background-color: #7AB561;
}

.for-page {
    padding: 10px;
    background-color: #EEEEEE;
}

.for-nav {}

.for-log {}

.for-link-container {}

.for-link {
    padding: 10px;
    background-color: #36AE7C;
    margin: 5px 0px;
    border-radius: 20px;
}

.for-link.active {
    background-color: #028037;
}

.for-sub-link.active {
    background-color: #047b58;
}

.for-link a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.for-link svg {
    width: 20px;
    height: 20px;
}

.for-link-panel.active {
    background-color: #5FD068;
    border-radius: 0;
    display: none;
}

.for-sub-link {
    padding: 10px;
    background-color: #019267;
}

.for-sub-link a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.for-user {
    float: right;
    padding: 10px;
}

.for-bell {
    background-color: #7FB77E;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.for-bell a {
    text-decoration: none;
    color: #1A1A1A;
}

.for-bell svg {
    width: 40px;
    height: 40px;
}

.for-profile {
    padding: 5px;
}

.for-profile h3 {
    background-color: #019267;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    color: #FFFFFF;
    user-select: none;
}

.for-login {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    margin-top: 10%;
}

.for-register {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    margin: 12%;
}

.for-form {
    border-radius: 10px;
    box-shadow: 1px 1px 20px #1A1A1A;
    padding: 10px;
    width: 300px;
    background-color: #36AE7C;
}

.for-form h2 {
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}

.for-group-input {
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px #019267;
    background-color: #FFFFFF;
}

.for-input[type="email"],
.for-input[type="password"],
.for-input[type="text"] {
    outline: none;
}

.for-group-input.submit {
    border: none;
    box-shadow: 0px 0px;
    padding: 0px;
    border-radius: 5px;
    margin: 5% 5px;
}

.for-group-input.remember {
    border: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 0px;
}

.for-group-input.remember input {
    width: auto;
    margin: 0px 5px;
}

.for-group-input span {
    font-size: 15px;
    color: #EB1D36;
}

.for-group-input.submit input {
    padding: 10px;
    cursor: pointer;
    background-color: #019267;
    color: #FFFFFF;
    border-radius: 5px;
}

.for-input {
    border: 0;
    font-size: 18px;
    width: 100%;
}

.for-page-title {
    padding: 10px;
    border: 2px solid #5FD068;
}

.for-dashboard-data {
    padding: 10px;
    display: grid;
    place-content: center;
}

.card-body {
    display: flex;
    align-items: center;
}

.cardbox {
    border: 1px solid #5FD068;
    padding: 20px 10px;
    margin: 0px 10px;
    text-align: center;
    width: 220px;
    background-color: #C5E0B4;
    border-radius: 15px;
    color: #1A1A1A;
}

.cardbox span {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.cardbox span .notif {
    position: absolute;
    background-color: #7AB561;
    padding: 5px;
    width: auto;
    height: 20px;
    border: 1px solid #1A1A1A;
    border-radius: 20%;
    font-weight: bold;
}

.event-dates {
    padding: 10px;
}

.events {
    display: grid;
    place-content: center;
    padding: 10px;
    margin: 0px 5px;
}

.dates {
    display: flex;
    padding: 10px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

.dates::-webkit-scrollbar-thumb {
    display: none;
}

.date {
    padding: 10px;
    border: 2px solid #019267;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.date.active {
    background-color: #C5E0B4;
}

.date:hover {
    background-color: #C5E0B4;
}

.event-items {
    border: 2px solid #36AE7C;
    padding: 10px;
    height: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.event-card-body {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
}

.event-item {
    font-size: 17px;
    padding: 10px;
}

.form-schedule {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 5px;
}

.dayList {
    width: 450px;
    border: 1px solid #D0D0D0;
    position: relative;
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.day-label {
    font-weight: 600;
    font-size: 13.5px;
    margin: 10px;
    text-transform: uppercase;
    color: #1E293B;
    padding: 6px;
}

.day {
    color: #D0D0D0;
}

.day.today {
    color: #1A1A1A;
}

.day-to-day {
    padding: 10px 10px;
    text-align: center;
    width: 40px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.month-list {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    max-width: 400px;
}

.months {
    padding: 5px;
    user-select: none;
}

.months.cur {
    border: 2px solid #36AE7C;
    background-color: #5FD068;
}

.day-to-day {
    color: #1A1A1A;
}

.day-to-day.today {
    background-color: #FA8281;
    color: #F6F6F6;
    padding: 8px;
    border-radius: 5px;
}

.note-page {
    background-color: #FA8281;
    padding: 10px;
    height: 100%;
    max-height: 340px;
    overflow-y: auto;
}

.note-page::-webkit-scrollbar {
    display: none;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 10px;
}
.home-control-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group.a {
    background-color: #019267;
    margin: 5px;
    border-radius: 20px;
}
.input-group.a a {
    text-decoration: none;
    color: #1A1A1A;
}

.input-group.textarea textarea {
    padding: 10px;
    outline: none;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: 1px dashed #1A1A1A;
    width: 100%;
    border-radius: 5px;
    resize: none;
}

.input-group.textarea ::placeholder {
    color: #1E293B;
}

.input-group input {
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed #1A1A1A;
    width: 100%;
    color: #1A1A1A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #F5F5F5;
}

.input-group input:focus {
    outline: none;
}

.input.icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

.note-avail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.note-event {
    color: #f6F6F6;
}

.for-schedule-events hr {
    margin: 10px;
}

.events-container {
    padding: 10px;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.event-page-title {
    background-color: #FFFFFF;
    padding: 10px;
}

.notif-container {
    border: 2px solid #36AE7C;
    background-color: #C5E0B4;
    height: 400px;
    max-height: 400px;
}

/* Reservation */
.table-reservation {
    padding: 10px;
}

.table-form {
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

.table-form::-webkit-scrollbar {
    display: none;
}

.table-form table {
    width: 100%;
    border-collapse: collapse;
}

.table-form table th {
    background-color: #70AD47;
    border: 1px solid #047b58;
    color: #F6F6F6;
    padding: 10px;
    font-size: 14px;
}

.table-form table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #047b58;
}

.table-form table tr {
    background-color: #EBF1E9;
}

.table-form table tr:nth-child(even) {
    background-color: #D5E3CF;
}

.table-form .action-form {
    display: flex;
    grid-template-columns: auto auto auto;
    place-content: center;
    align-items: center;
    column-gap: 5px;
}

.table-form .action-button button {
    padding: 10px;
    border: 1px solid #047b58;
    background-color: #70AD47;
    width: 100%;
    color: #f6f6f6;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.table-form .action-button .action-print {
    background-color: #28A745;
    padding: 5px;
}

.table-form .action-button .action-print svg {
    width: 25px;
    height: 25px;
}

.reservation-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding: 10px;
}

.menu-items {
    display: grid;
    place-content: center;
}

.form-pop-up {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
    left: 0%;
    top: 0%;
    width: 100%;
}

.form-pop-up-update {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
    left: 0%;
    top: 0%;
    width: 100%;
}

.form-pop-up-rent {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
    left: 0%;
    top: 0%;
    width: 100%;
}

.form-package {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
    left: 0%;
    top: 0%;
    width: 100%;
}
.for-form-package {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
    left: 0%;
    top: 0%;
    width: 100%;
}

.form-inputs {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
}

.form-inputs .img svg {
    width: 30px;
}

#file-image {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-inputs input[type=file]::-webkit-file-upload-button {
    display: none;
    outline: none;
}

.selection {
    padding: 10px;
    margin: 10px;
}

.selection select {
    padding: 10px;
}

.reserve {
    margin: 10px;
    padding: 10px;
    background-color: #C5E0B4;
}

.form-separate {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-group label {
    font-size: 18px;
}

.form-page .input-group select,
input[type=file] {
    padding: 10px;
    width: 100%;
}

.form-page .input-group input::placeholder {
    color: #1A1A1A;
}

.input-group button {
    border: none;
    border-radius: 4px;
    background-color: #67A93A;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
}

.input-group .cancel {
    border: none;
    border-radius: 4px;
    background-color: #9D9D9D;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
}

.input-group.submit {
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-around;
}

.packages {
    padding: 10px;
}

.form-packages {
    padding: 10px;
}

.packages-content {
    background-color: #C5E0B4;
    margin: 5px;
}

.packages-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    max-height: 600px;
}

.packages-list::-webkit-scrollbar {
    display: none;
}

.package-h3 {
    padding: 10px;
    background-color: #ffffff;
}

.package {
    width: 200px;
    height: 300px;
    margin: 5px 15px;
    text-align: left;
    border-radius: 15px;
    background-color: #A9D18E;
    overflow-y: auto;
    padding: 10px;
}

.package::-webkit-scrollbar {
    display: none;
}

.package b {
    padding: 10px;
    font-size: 18px;
}

.package-info {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    margin: 5px 0px;
    border-radius: 5px;
    width: 450px;
}

.package-info p {
    word-wrap: break-word;
}

.input-group input::placeholder {
    color: #1A1A1A;
}


.form-data {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.form-data form {
    background-color: #f6f6f6;
    border: 1px solid #047b58;
    padding: 10px;
    width: 400px;
}

.form-data form h3 {
    padding: 10px;
}

.b-option.active-s {
    text-shadow: 1px 1px 5px #1A1A1A;
    margin: 5px;
}

.package-form p {
    padding: 10px;
    font-size: 17px;
}

.table-form img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.package-description {
    overflow-y: auto;
    max-height: 200px;
}

.package-description::-webkit-scrollbar {
    display: none;
}

.event-list {
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.event-approved {
    padding: 10px;
}

.btn-print {
    display: flex;
    align-items: center;
    border: 1px solid #D0D0D0;
}

.btn-print svg {
    width: 25px;
    height: 25px;
}

#date-start {
    color: #D0D0D0;
}

.event-coming {
    padding: 0px 10px;
}

.event-list-coming {
    overflow-y: auto;
    max-height: 335px;
}
.error-message {
    padding: 10px;
    position: absolute;
    right: 5%;
    top: 5%;
}
.modal {
    display: none;
    padding: 5%;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #019267;
    box-shadow: 1px 1px 50px 5px #D0D0D0;
    position: absolute;
    margin: 2% 10% 10% 10%;
    top: 0%;
}
.modal-container {
    padding: 10px;
    margin: 5%;
    height: 100%;
    display: grid;
    place-content: center;
}